<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>

    <div class="col-md-12">
        {% if get_flashed_messages() %}
            {% if "成功" not in get_flashed_messages()[0] %}
                <div class="col-md-7">
                    <div class="col-md-4"></div>
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h3 style="color:red"><strong>注意：</strong> {{ get_flashed_messages()[0] }}<strong>:(</strong></h3>
                        </div>
                    <div class="col-md-4"></div>
                </div>
            {% else %}
                <div class="col-md-4">
                    <div class="col-md-2"></div>
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h3 style="color:green">{{ get_flashed_messages()[0] }}<strong>:)</strong></h3>
                        </div>
                    <div class="col-md-4"></div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="col-md-12 form-group text-center">
        <form class="form-horizontal" method="POST">

            <br><br>
            <h3 class="col-md-12  text-center" style="color:#4682B4"><strong>修改密码</strong></h3>
            <br><br>

            <div class="col-md-12 form-group well text-center">
                <div class="col-md-2"></div>
                <label class="col-md-1 control-label">登录名</label>
                <div class="col-md-7">
                    {{ form.login_name(class="form-control",id="login_name") }} {# 登录名 #}
                </div>
            </div>
            <div class="col-md-12 form-group well text-center">
                <div class="col-md-2"></div>
                <label class="col-md-1 control-label">原密码</label>
                <div class="col-md-7">
                    {{ form.old_password(class="form-control",id="old_password") }} {# 原密码 #}
                </div>
            </div>
            <div class="col-md-12 form-group well text-center">
                <div class="col-md-2"></div>
                <label class="col-md-1 control-label">新密码</label>
                <div class="col-md-7">
                    {{ form.new_password(class="form-control",id="new_password") }} {# 新密码 #}
                </div>
            </div>
            <div class="col-md-12 form-group well text-center">
                <div class="col-md-2"></div>
                <label class="col-md-1 control-label">确认新密码</label>
                <div class="col-md-7">
                    {{ form.new_password_again(class="form-control",id="new_password_again") }} {# 确认新密码 #}
                </div>
            </div>

            {{ form .submit_sub(class="btn btn-primary",id="submit_sub")}} {# 提交按钮 #}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-primary"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" href={{url_for('login.login')}} role="button"><span class="glyphicon glyphicon-share-alt"></span> 返回</a>
        </form>
        <br>
    </div>


</body>
</html>