<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if type == "N" %}
        <title>新增全局变量</title>
    {% elif type == "E" %}
        <title>修改全局变量</title>
    {% elif type == "C" %}
        <title>复制新增全局变量</title>
    {% endif %}
</head>
<body>

{% extends 'base.html' %}
{% block content %}
    <div class="col-md-12">
        {% if get_flashed_messages() %}
            {% if "成功" not in get_flashed_messages()[0] %}
                <div class="col-md-7">
                    <div class="col-md-4"></div>
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h3 style="color:red"><strong>注意：</strong> {{ get_flashed_messages()[0] }}<strong>:(</strong></h3>
                        </div>
                    <div class="col-md-4"></div>
                </div>
            {% else %}
                <div class="col-md-4">
                    <div class="col-md-2"></div>
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h3 style="color:green">{{ get_flashed_messages()[0] }}<strong>:)</strong></h3>
                        </div>
                    <div class="col-md-4"></div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="col-md-12 form-group text-center">
        <form class="form-horizontal" method="POST">

        {% if type=='N' %}
            <h3 class="col-md-12  text-center" style="color:#4682B4"><strong>新增全局变量</strong></h3>
            <br><br>
        {% endif %}

        {% if type == "E" %}
            <h3 class="col-md-12  text-center" style="color:#4682B4"><strong>编辑全局变量</strong></h3>
            <br><br>
        {% endif %}

        {% if type == "C" %}
            <h3 class="col-md-12  text-center" style="color:#4682B4"><strong>复制新全局变量</strong></h3>
            <br><br>
        {% endif %}

            <div class="col-md-12 form-group well text-center">
                <div class="col-md-2"></div>
                <label class="col-md-1 control-label">项目名称</label>
                <div class="col-md-3">
                    {{ form.product_name(class="form-control",id="product_name") }} {#项目名称下拉框#}
                </div>

                <label class="col-md-1 control-label">全局变量名</label>
                <div class="col-md-3">
                    {{ form.global_var_name(class="form-control",id="global_var_name") }} {#全局变量名称#}
                </div>
            </div>

            <br><br>

            <div class="col-md-12 form-group  text-center">
                <div class="col-md-2"></div>
                <label class="col-md-1 control-label">全局变量值</label>
                <div class="col-md-3">
                    {{ form.global_var_value(class="form-control",id="global_var_value") }} {#全局变量值#}
                </div>
                <label class="col-md-1 control-label">是否自增</label>
                <div class="col-md-3">
                    {{ form.is_auto_add(class="form-control",id="is_auto_add") }} {#是否自增#}
                </div>
            </div>

            <div class="col-md-12 form-group well text-center">
                <div class="col-md-1"></div>
                <label class="col-md-2 control-label">全局变量说明</label>
                <div class="col-md-7">
                    {{ form.global_var_explain(class="form-control",id="global_var_explain") }} {#全局变量说明#}
                </div>
            </div>

            <br><br>

            <br><br><br>

            {{ form .submit_sub(class="btn btn-primary",id="submit_sub")}} {# 提交按钮 #}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-primary"><span class="glyphicon glyphicon-repeat"></span> 重置</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" href={{url_for('global_var.global_var_list',product_name=product_name,page_no=page_no,offset=offset,limit=limit,global_var_id=global_var_id)}} role="button"><span class="glyphicon glyphicon-share-alt"></span> 返回</a>
        </form>
        <br>
    </div>

{% endblock %}

</body>
</html>